.header {
  width: 100%;
  background-color: #0D1321; }
  .header .header_block {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .header_block .header_buttons_block {
      display: flex; }
    .header .header_block .header_navigation_menu {
      display: flex;
      gap: 20px; }
      .header .header_block .header_navigation_menu .header_menu_item {
        cursor: pointer; }
      .header .header_block .header_navigation_menu .header_navigation_menu_ref {
        color: white;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
