<header class="header">
    <div class="header_block wrapper">
        <nav class="header_navigation_menu">
            <div class="header_menu_item main_page common_button"><a href="#!/order" class="header_navigation_menu_ref">Order</a></div>
            <div class="header_menu_item order_page common_button"><a href="#!/summary" class="header_navigation_menu_ref">Summary</a></div>
        </nav>
        <div class="header_buttons_block">
            <div class="header_save_button ">
                <button class="save_button common_button" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</header>