.header {
    width: 100%;
    background-color: #0D1321;

    .header_block {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header_buttons_block {
            display: flex;
        }

        .header_navigation_menu {
            display: flex;
            gap: 20px;

            .header_menu_item {
                cursor: pointer;
            }
            .header_navigation_menu_ref {
                color: white;
                text-decoration: none;
                display: block;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}