$ERROR_COLOR: rgb(219, 145, 145);
$VALID_COLOR: rgb(147, 221, 255);
$DARK_GREY: rgb(15, 28, 34);
$LIGHT_GREY: rgb(119, 119, 119);
* {
    font-size: 18px;
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    background-color: #F0EBD8;
}

.h1_title {
    background: linear-gradient( to right, $DARK_GREY, $LIGHT_GREY);
    margin: 20px;
    padding: 20px;
}

.common_block {
    padding: 20px;
    margin: 20px;
    background-color: #3E5C76;
    border: 1px solid transparent;
    box-shadow: 5px 5px 5px 1px #0D1321;
}

.common_button {
    background-color: grey;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: white;
}

.common_input_block {
    display: flex;
    align-items: center;
    margin: 10px;
}

.input_label {
    margin-left: 10px;
}

.wrapper {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    background-color: #0D1321;
    .header_block {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header_buttons_block {
            display: flex;
        }
        .header_navigation_menu {
            display: flex;
            gap: 20px;
            .header_menu_item {
                cursor: pointer;
            }
            .header_navigation_menu_ref {
                color: white;
                text-decoration: none;
                display: block;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.content_block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
    .left_column_block {
        width: 40%;
    }
    .right_column_block {
        width: 50%;
    }
}

.common_list {
    list-style-type: none;
}

.common_list_item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 15px;
    border-bottom: 1px solid white;
    .list_item_block {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
    }
}

.list_title_block {
    border-bottom: 2px solid white;
}

.text_input.ng-valid,
.email_input.ng-valid {
    background-color: $VALID_COLOR;
    transition: background-color .5s;
}

.text_input.ng-invalid,
.email_input.ng-invalid {
    background-color: $ERROR_COLOR;
    transition: background-color .5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.common_block {
    animation-name: fade;
    animation-duration: .5s;
}