<div class="results_preview_block common_block">
    <h2 class="results_preview_block_title h2_title">Order Preview</h2>
    <div class="list_title_block common_list_item">
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Name</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Surname</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Country</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Gender</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Email</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Zip</p>
        </div>
    </div>

    <ul class="results_preview_list common_list">
        <li class="results_preview_list_item common_list_item">
            <div class="item_name_block list_item_block">
                <p class="item_name">{{$ctrl.order.userName}}</p>
            </div>
            <div class="item_surname_block list_item_block">
                <p class="item_surname">{{$ctrl.order.userSurname}}</p>
            </div>
            <div class="item_country_block list_item_block">
                <p class="item_country">{{$ctrl.order.userCountry}}</p>
            </div>
            <div class="item_gender_block list_item_block">
                <p class="item_gender">{{$ctrl.order.userGender}}</p>
            </div>
            <div class="item_email_block list_item_block">
                <p class="item_email">{{$ctrl.order.userEmail}}</p>
            </div>
            <div class="item_zip_block list_item_block">
                <p class="item_zip">{{$ctrl.order.userZip}}</p>
            </div>
        </li>
    </ul>
</div>