<div class="order_block">
    <div class="credentials_block common_block">
        <div class="name_input_block common_input_block">
            <input type="text" class="name_input text_input" required name="newOrder.userName" ng-model="$ctrl.order.userName" text-validator/>
            <label class="input_label" for="name">Name</label>
        </div>
        <div class="surname_input_block common_input_block">
            <input type="text" class="surname_input text_input" ng-model="$ctrl.order.userSurname" required name="surname" text-validator />
            <label class="input_label" for="surname">Surname</label>
        </div>
        <div class="surname_input_block common_input_block">
            <input type="text" class="surname_input text_input" required name="country" ng-model="$ctrl.order.userCountry" text-validator />
            <label class="input_label" for="surname">Country</label>
        </div>
    </div>

    <div class="options_block common_block">
        <h2 class="options_block_title">Select your gender</h2>
        <div class="option_radio_button common_radio_button">
            <input type="radio" checked class="first_option_radio_input common_radio_input" name="gender_option" ng-model="$ctrl.order.userGender" ng-value="'male'" />
            <label class="input_label" for="first_option">Male</label>
        </div>
        <div class="option_radio_button common_radio_button">
            <input type="radio" class="second_option_radio_input common_radio_input" name="gender_option" ng-model="$ctrl.order.userGender" ng-value="'female'" />
            <label class="input_label" for="second_option">Female</label>
        </div>
        <div class="option_radio_button common_radio_button">
            <input type="radio" class="second_option_radio_input common_radio_input" name="gender_option" ng-model="$ctrl.order.userGender" ng-value="'other'" />
            <label class="input_label" for="third_option">Other</label>
        </div>
        <div class="email_input_block common_input_block">
            <input type="text" class="email_input" name="email" ng-model="$ctrl.order.userEmail" required email-validator />
            <label class="input_label" for="surname">email</label>
        </div>
    </div>
</div>