<div class="results_preview_list_block common_block">
    <h2 class="results_preview_list_title h2_title">Orders List</h2>
    <div class="list_title_block common_list_item">
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Name</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Surname</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Country</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Gender</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Email</p>
        </div>
        <div class="list_column_title list_item_block">
            <p class="list_column_title">Zip</p>
        </div>
    </div>
    <ul class="results_preview_list common_list">
        <li class="results_preview_list_item common_list_item" ng-repeat="item in $ctrl.ordersList track by $index">
            <div class="item_name_block list_item_block">
                <p class="item_name">{{item.userName}}</p>
            </div>
            <div class="item_surname_block list_item_block">
                <p class="item_surname">{{item.userSurname}}</p>
            </div>
            <div class="item_country_block list_item_block">
                <p class="item_country">{{item.userCountry}}</p>
            </div>
            <div class="item_gender_block list_item_block">
                <p class="item_gender">{{item.userGender}}</p>
            </div>
            <div class="item_email_block list_item_block">
                <p class="item_email">{{item.userEmail}}</p>
            </div>
            <div class="item_zip_block list_item_block">
                <p class="item_zip">{{item.userZip}}</p>
            </div>
        </li>
    </ul>
</div>