<div class="order_module" ng-controller="ordersAppController">
    <header class="header">
        <div class="header_block wrapper">
            <nav class="header_navigation_menu">
                <button class="save_button common_button" ng-click="changePageState('order')">Order</button>
                <button class="save_button common_button" ng-click="changePageState('summary')">Summary</button>
            </nav>
            <div class="header_buttons_block">
                <div class="header_save_button ">
                    <button class="save_button common_button" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </header>
    <h1 class="orders_block_title h1_title">Make an Order</h1>
    <div class="content_block wrapper">
        <div class="left_column_block column">
            <app-order-form order="order" ng-if="pageState === 'order'"></app-order-form>
            <app-summary order="order" ng-if="pageState === 'summary'"></app-summary>
        </div>
        <div class="right_column_block column">
            <app-preview order="order"></app-preview>
            <app-orders-list orders-list="ordersArray"></app-orders-list>
        </div>
    </div>
</div>