<div class="zip_block common_block">
    <div class="zip_input_block common_input_block">
        <input type="text" class="number_input text_input" name="zip" ng-model="$ctrl.order.userZip" required number-validator/>
        <label class="input_label" for="zip">zip(numbers only)</label>
    </div>
</div>